body {
  text-align: justify;
  font-family: Open Sans, sans-serif;
  background-color: #8a71c9;
  color: #ffffff;
  margin: 0 0 30px 0;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
}

h2 {
  color: #2a0074;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

h4 {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.titulo-verde {
  color: #04ff9f;
}

.titulo-vermelho {
  color: #ff9e9e;
}

.titulo-amarelo {
  color: #ffe36d;
}

section {
  width: 70%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

ul {
  text-align: center;
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #99ffff;
  font-weight: 700;
}

img {
  width: 100%;
}

.principal{
  background-color: #ffffff;
  height: 60px;
  max-width: 60%;
  margin: 0 auto;
}

.principal a {
  color: #8a71c9;
  text-decoration: underline;
  font-weight: 600;
}

.principal li {
  display: inline-block;
  line-height: 3.5;
  margin: 0 90px;
}

button {
  background-color: #41f341;
  border: 1px solid transparent;
  padding: 7px 20px;
  border-radius: 3px;
  font-weight: 800;
}

form label{
  display: block;
  margin-left: 25%;
}

form input {
  display: block;
  width: 50%;
  margin-bottom: 15px;
  margin-left: 25%;
}

form button {
  margin-left: 25%;
}


